*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(20, 71, 71);
}

.main-form{
    height: 600px;
    width: 650px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    opacity: 0;
}
.log-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 900;
}

.title{
    width: 100%;
    height: 70px;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 900;
    color: white;
}

.in-reg-form{
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.captions{
    width: 70px;
    margin-right: 20px;
    font-weight: bold;
   
}

.name-text{
    width: 200px;
    height: 35px;
    margin-right: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding-left: 10px;

    background-color: rgb(163, 162, 162);
    margin-left: 10px;
}


.password{
    width: 430px;
    height: 35px;
    margin-right: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding-left: 10px;
    background-color: rgb(163, 162, 162);
    margin-left: 10px;
}


#mail{
    width: 430px;
    height: 35px;
    margin-right: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding-left: 10px;
    background-color: rgb(163, 162, 162);
    margin-left: 10px;
}

.phone{
    width: 430px;
    height: 35px;
    margin-right: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding-left: 10px;
    background-color: rgb(163, 162, 162);
    margin-left: 10px;
}


.reg-button{
    height: 60px;
    width: 50%;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.for-reg-button{
    display: flex;
    justify-content: center;
}

.to-log::before{
    content: 'to log';
    display: inline-block;
    position: relative;
    width: 300px;
    height: 30px;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    z-index: 2;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 175px;
}







/*log form*/

.main-form-log{
    height: 400px;
    width: 500px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
}

.log-title{
    height: 50px;
    width: 100%;
    background-color: black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
}

.in-log-form{
    display: flex;
    margin-top: 30px ;
}

.user-name{
    height: 50px;
    width: 70%;
    margin: auto;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: rgb(163, 162, 162);
    padding-left: 10px;
}


.log-pass{
    height: 50px;
    width: 70%;
    margin: auto;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: rgb(163, 162, 162);
    padding-left: 10px;
}

.log-in{
    height: 60px;
    width: 50%;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.for-log-but{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}



.some-check{
  display: none;  
}
.to-reg::before{
    content: 'to reg';
    display: inline-block;
    position: relative;
    width: 300px;
    height: 30px;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    z-index: 2;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 100px;

}

input[type = 'checkbox']:checked ~ .main-form {
    animation: reg 2s forwards;
}
input[type = 'checkbox']:checked ~ .main-form-log {
    animation: log 2s forwards;
}



@keyframes reg {
    1%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        transform: translateY(-400px);
    }
}

@keyframes log {
    1% {
        opacity: 1;
    }

    100%{
        opacity: 0;
        transform: translateY(400px);
    }
}